.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
dist/*.map
js/
examples/
plugin/
test/
jekyll/
markdown-it/
1timoteo_client.html
1timoteo.html
1timoteo_maestro.html
1timoteo_orig.html
index.html
client.html
css/
gulpfile.js
galatas_maestro.php
colossians.html
package-lock.json
package.json
markdown/metodo-estudio/media/dominando-elmensaje4-nopt.svg
