.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
dist/*.map
js/
examples/
plugin/
test/
jekyll/
markdown-it/
1timoteo.html
1timoteo_maestro.html
index.html
client.html
css/theme/source/beige copy.scss
